@charset "UTF-8";

body {
	background-color: #000000;
	margin: 0px;
	border: 0px;
}

p {
  color: black;
  font-family: arial;
  font-weight: bold;
}

/* header {
	position: relative;
	top: 20px;
	width:600px;
	margin: 0px auto;
	text-align: center;
} */

.hidden {
  display: none;
}

#siteContainer {
  margin: 0 auto;
  width: 1280px;
	background-color: #ccc;
	display: flex;
}

#background {
  background-image: url('../images/backGround.jpg');
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1280px;
  height: 720px;
}

.instrument-image:nth-child(even) {
	float: right;
	clear: both;
}
.instrument-image:nth-child(odd) {
	float: left;
	clear: both;
}

.generalDropZone {
  justify-content: space-between;
  margin: 360px 0 0 278px;
  display: flex;
  float: left;
  width: 772px;
  height: 140px;
}

.dropZone {
	display: flex;
  width: 140px;
  height: 140px;
	float: left;
	position: relative;
}

/* .dz1 img { right: 0; bottom: 0;}
.dz2 img { left: 0; bottom: 0;}
.dz3 img { right: 0; top: 0;}
.dz4 img { left: 0; top: 0;} */

#generalDragZone {
  justify-content: space-between;
  margin: 25px 0 0 235px;
  display: flex;
  float: left;
  width: 865px;
  height: 140px;
}

#guitar {
	display: flex;
  width: 140px;
  height: 140px;
}

#bass {
	display: flex;
  width: 140px;
  height: 140px;
}

#drum {
	display: flex;
  width: 140px;
  height: 140px;
}

#maracas {
	display: flex;
  width: 140px;
  height: 140px;
}
